.help {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
.help_icon {
    font-size: 16px;
}
.help_text {
    transform-origin: left;
    transition: 0.5s;
    width: 300px;
    height: max-content;
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px;
    background-color: white;
    box-shadow: 0 0 3px black;
    transform: scale(0);
}
.help:hover .help_text {
    transform: scale(1);
}
